//
//  Breakpoints set up
//

//  Breakpoint small
$breakpoint-small: 768px !default;

//  Breakpoint medium
$breakpoint-medium: 992px !default;

//  Breakpoint large
$breakpoint-large: 1200px !default;

