//
//  CSS3 Transform
//
//  Dependencies
@import "../functions/_math";
@import "../functions/_prefixer";

//  Variables
$prefixes: moz ms o webkit;

//
//  Scale
//
@mixin scale($x: 1, $y: 1) {

  @include prefix(transform, scale($x, $y), $prefixes);

  transform: scale($x, $y);
}

//
//  Translate
//
@mixin translate($value, $axis: X) {

  @include prefix(transform, translate + $axis + "(" + $value + ")", $prefixes);

  transform: translate + $axis + "(" + $value + ")";
}

//
//  Rotate
//
@mixin rotate($value, $axis: Z) {

  @include prefix(rotate, rotate + $axis + "(" + $value + ")", $prefixes);

  transform: rotate + $axis + "(" + $value + ")";
}